# These owners will be the default owners for everything in the repo.
# @TechNerd-019, @CherryTreeGee811, @SemiDoge, @Dante262, and @AleixBossa will be requested for
# review when someone opens a pull request.
*    @CherryTreeGee811 @SemiDoge @TechNerd-019
